* {
    box-sizing: border-box;
}
body {
    background-color: burlywood; 
    height: 100%; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
} 
.colors {
    width: 350px; 
    height: 350px; 
    transform: rotate(-30deg); 
    position: relative; 
    left: -100px; 
    border-radius: 45% 45% 0 0; 
    background: rgb(212,0,178);
    background: linear-gradient(0deg, #f63a99 25%, #30dcf6 25%, #30dcf6 50%, #f2d200
    50%, #f2d200 75%, #70ca5c 75%);
    background-position-y: 0px; 
    animation-name: fountain; 
    animation-duration: 10s; 
    animation-timing-function: linear; 
    animation-iteration-count: infinite;
} 
.stick {
    width: 50px; 
    height: 120px; 
    background-color: brown; 
    border-radius: 0 0 50% 50%;
} 
@keyframes fountain {
    to {
        background-position-y: 1050px;
    }
}